<!DOCTYPE html>
<html>
<head>
  <title><%= student.name %> - Profile</title>
</head>
<body>
<div class="app-wrapper">
  <%- include("../includes/sideNav.ejs", {currentPage: ''}) %>

  <div class="main-content">
    <h1>Student Profile</h1>

    <p><strong>Name:</strong> <%= student.name %></p>
    <p><strong>Father's Name:</strong> <%= student.father_name %></p>
    <p><strong>Roll No:</strong> <%= student.rollNumber %></p>
    <p><strong>Class:</strong> <%= student.classId.class %> (<%= student.classId.section %>)</p>

    <h3>QR Code</h3>
    <img src="/student/<%= student._id %>/qrcode.png" alt="QR Code" style="width: 200px; border: 1px solid #ddd; padding: 10px; border-radius: 8px;">
  </div>
</div>

</body>
</html>
